/*
coloors
5B507A purple navy
5B618A dark blue gray
9EADC8 wild blue yonder
B9E28C yellow green crayola
D6D84F maximum green yellow
*/
/* Global Styles
----------------------------*/
html {
  box-sizing: border-box;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #5b507a;
  margin: 0;
  /*margin-left: auto;
  margin-right: auto;*/
  padding: 0;
  font-family: "Montserrat", sans-serif; /*may require link*/
  font-size: 18px;
  line-height: 2;
  font-weight: 600;
  /*width: 1400px;*/
  /*background-size: auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  /*height: 35vh;*/
}

img {
  width: 220px;
}
a {
  color: #d6d84f;
}
a:hover {
  text-decoration: none;
}
h1,
h2 {
  font-family: "Caveat", cursive; /*may require link*/
  font-weight: 400;
  margin: 10px;
}
h1 {
  font-size: 65px;
  line-height: 1;
  padding: 30px 0 20px 0;
}
h2 {
  /*margin: 0;*/
  font-size: 35px;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}

.centered {
  text-align: center;
}

ul {
  padding-inline-start: 3px;
}

ul li {
  list-style-type: none;
  display: inline;
  font-size: 1.2em;
}

/* Profile
----------------------------*/
.profile {
  background-color: #d6d84f;
  /*text-align: center;*/
}

/* Projects
----------------------------*/
.projects {
  background-color: #9eadc8;
}
.projects a {
  background: #5b507a;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
}
.project-item {
  overflow: hidden;
  /*border-bottom: 1px dashed D6D84F;*/
}
.project-item img {
  float: left;
  margin-right: 20px;
  /*padding: 25px 0;*/
}
h3 {
  margin-top: 0;
  font-family: "Caveat", cursive;
}
/*.projects .btn {
	color: #9EADC8;
	background: #5B507A;
	text-decoration: none;
	border-radius: 4px;
	padding: 8px;
	display: inline-block;
}*/
.projects a:hover {
  background: rgba(91, 80, 122, 80%);
}
/* Work Experience
----------------------------*/
.work {
  background-color: #b9e28c;
}

/*.job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}*/

/* Education
----------------------------*/
.education {
  background-image: url(joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
}

.education p {
  width: 60%;
  color: #310aa5;
}

/* Contact Info
----------------------------*/
footer {
  background-color: #9eadc8;
  color: #5b507a;
}
footer a {
  color: #5b507a;
  background: #b9e28c;
  text-decoration: none;
}
/*.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}*/
.contact-list a {
  padding: 5px;
  display: inline-block;
  border: 2px solid #b9e28c;
  border-radius: 12px;
}
/*a:visited {
	color: green;
}*/

/* Responsive
----------------------------*/
@media screen and (min-width: 650px) {
  .profile h1,
  .profile h2,
  .profile h3,
  .profile ul,
  footer {
    text-align: center;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .contact-list a {
    padding: 15px;
    display: inline-block;
    border: 2px solid #b9e28c;
    border-radius: 12px;
  }
}
